<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Salesman</title>                
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/public/assets/bootstrap.min.css">
        <link rel="stylesheet" href="/public/assets/styles.css">
    </head>
    <body>
        <div id="app"></div>

        <!-- Vendors FIXME use CDN -->
        <script src="/public/assets/day.js"></script>
        <script src="/public/assets/babel-polyfill.min.js"></script>
        <script src="/public/assets/hyperapp.min.js"></script>

        <!-- App -->
        <script src="/public/assets/bundle.js?nocache=2018-07-26"></script>

        <!-- Bootstrapping -->
        <script>
            app()
        </script>
    </body>
</html>
